.form {
  display: flex;
  flex-direction: column;
  font-family: arial;
  margin: 30px;

  gap: 5px;
}
.divLabelInput {
  display: flex;
  gap: 10px;
}

.input {
  align-self: flex-start;
  padding: 5px;
  border: 1px solid lightblue;
}
