.header {
  padding: 30px;
  background-color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &__text {
    text-align: center;
  }
}
